<div class="d-flex flex-row vh-100">
  <div class="map-container flex-grow-1">
    <app-svg-map (countrySelected)="getCountryInfo($event)"></app-svg-map>
  </div>
  <div class="info-container d-flex flex-column justify-content-start">
    <h2>Country Information</h2>
    <app-search-bar (submitted)="onTerm($event)"></app-search-bar>
    <p *ngIf="selectedCountry">
      <strong>Country Name:</strong> {{ selectedCountry.name }}<br>
      <strong>Region:</strong> {{ selectedCountry.region.value }}<br>
      <strong>Income Level:</strong> {{ selectedCountry.incomeLevel.value }}<br>
      <strong>Capital City:</strong> {{ selectedCountry.capitalCity }}<br>
      <strong>Longitude:</strong> {{ selectedCountry.longitude }}<br>
      <strong>Latitude:</strong> {{ selectedCountry.latitude }}<br>
    </p>
  </div>
</div>

<router-outlet />
